# .NET build artifacts
bin/
obj/
*.log

# Visual Studio
.vs/
**/.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.vsidx

# Rider / ReSharper
.idea/
*.DotSettings.user

# VS Code
.vscode/

# OS cruft
.DS_Store
Thumbs.db
desktop.ini

# NuGet
*.nupkg
**/packages/*
!**/packages/build/
*.snupkg

# Tools / coverage (se usares)
coverage/
TestResult*/
*.coverage
*.coveragexml

# Docker (opcional)
**/obj/Docker/*
**/bin/Debug/net*/publish/

# Secrets locais (não commits)
secrets.json
appsettings.Development.json
appsettings.Local.json
